footer {
    height: 60px;
    background-color: #f40000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
}

p {
    color: #00479D;
    margin: 0;
    font-size: 22px;
    font-weight: bold;
}