body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #ebebeb;
    color: #3a3a3a;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 100px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

.title {
    font-size: 26px;
    font-weight: bold;
    color: cadetblue  
}

.header-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.search-bar {
    width: 100%;
    max-width: 600px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); 
    background-color: #ffffff;
}

.header-right {
    display: flex;
    gap: 25px;
}

.nav-item {
    text-decoration: none;
    color: #666;  
    font-size: 18px;
    transition: color 0.3s ease, transform 0.2s ease;
}

.nav-item:hover {
    color: cadetblue;
    transform: translateY(-3px); 
}

/* 카테고리 섹션 */
.category-section {
    width: 100%;
    text-align: center;
    margin: 0;
    padding-top: 20px;
    background-color: cadetblue;  
    border-top: 2px solid cadetblue; 
}

.category-title {
    font-size: 30px;
    margin: 0;
    padding-bottom: 15px;
    font-weight: 700px;
    color: #4a4a4a;
    border-bottom: 2px solid #ffffff; 
}


.categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.category-item {
    text-decoration: none;
    color: #555;  
    font-size: 20px;
    padding: 15px 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    border-right: 2px solid #bbb; 
    line-height: 1;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.category-item:last-child {
    border-right: none;
}

.category-item:hover {
    background-color: #ffffff;
    color: #000000;
    border-color: #ffffff;
} 